.form-group {
    margin-bottom: 20px;
    text-align: left;
    width: 392px;
    margin: 0 auto; 
}
label {
    display: block; /* 라벨을 블록 요소로 표시하여 위에서 아래로 표시 */
    margin-bottom: 5px;
    margin-top: 10px;
}

input[type="email"],
input[type="password"],
input[type="nickname"] {
    width: 383px;
    margin-bottom: 5px;
    border-radius: 3px;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="nickname"]::placeholder {
    color: #999;
}
