/* uploadprofile.css */

.inputProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.inputProfile_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer; /* 이미지에 커서 포인터 스타일을 추가 */
}

.filebox {
  position: relative;
}

.filebox input[type="file"] {
  display: none; /* 파일 입력 요소를 숨김 */
}
